# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore everything in sites/ except default/ and all/ folders For Aegir
drupal/sites/*
!drupal/sites/all
!drupal/sites/default
!drupal/sites/libraries
drupal/*drushrc.php
drupal/*sites.php

# Ignore examples module.
drupal/sites/all/modules/contrib/examples

# Ignore configuration css files.
drupal/sites/all/themes/politicamp*/css/*

# Ignore generated sprite files.
drupal/sites/all/themes/politicamp*/img/sprites/*

# Ignore paths that contain user-generated content.
drupal/sites/*/files
drupal/sites/*/private

databases/local
.buildpath
.Drupal.sublime-projectcomplections
.sass-cache
.project
.settings
*~
*.orig
.svn
.DS_Store
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
nbproject
*.swo
*.Trash*
*cwatch.pid

